.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 156px 0 19px;
}

.u-section-1 .u-image-1 {
  min-height: 481px;
  background-image: url("/assets/LUNE.jpeg");
  background-position: 50% 50%;
  background-size: 195%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    min-height: 304px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    min-height: 287px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 749px;
}

.u-section-2 .u-group-1 {
  min-height: 399px;
  height: auto;
  margin-top: -8px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  width: 828px;
  margin: 0 auto;
}

.u-section-2 .u-blog-1 {
  width: 1140px;
  height: auto;
  margin: -223px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 521px;
  grid-gap: 22px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  min-height: 58px;
  width: 257px;
  height: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px;
}

.u-section-2 .u-metadata-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  min-height: 58px;
  width: 257px;
  height: auto;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px;
}

.u-section-2 .u-metadata-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 285px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  min-height: 58px;
  width: 257px;
  height: auto;
  background-size: auto;
  margin: -31px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 15px;
}

.u-section-2 .u-metadata-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 11px 22px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 623px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-blog-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 214px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    width: 214px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    width: 214px;
    height: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1025px;
  }

  .u-section-2 .u-text-1 {
    width: 660px;
  }

  .u-section-2 .u-blog-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: 520px;
  }

  .u-section-2 .u-blog-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-group-2 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 265px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-3 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: 265px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-4 {
    width: 282px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    width: 265px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1785px;
  }

  .u-section-2 .u-group-1 {
    min-height: 363px;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
    font-size: 3rem;
    margin-top: 21px;
  }

  .u-section-2 .u-blog-1 {
    width: 340px;
    margin-top: -232px;
  }

  .u-section-2 .u-group-2 {
    width: 239px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-3 {
    width: 239px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-group-4 {
    width: 239px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }
}